@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHhjeWNzcXc3NnNmZDN2NTF3N2xtZTZ5ZjNnMWRzcW4wNHh3amljbyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Hh9sPYeSWhAUx6NDBM/giphy.webp");
  background-size: cover;
  font-family: sans-serif;
}

div#left,
div#center,
div#right {
  display: flex;
  flex-direction: column;
}

div#left {
  gap: 25px;
  justify-content: center;
  align-items: center;
}

div#right, div#center {
    background-color: #ddddddaa;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    height: calc(50vh);
}

h1,
.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

img#map {
    height: 50vh;
    width: 50vh;
    object-fit: cover;
    border-radius: 10px;
}

ul, .main-text {
    font-size: 1.5em;
    list-style-type: none;
}