@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

body {
  min-height: 100vh;
  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHhjeWNzcXc3NnNmZDN2NTF3N2xtZTZ5ZjNnMWRzcW4wNHh3amljbyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Hh9sPYeSWhAUx6NDBM/giphy.webp");
  background-size: cover;
  font-family: sans-serif;
  margin: auto;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  height: fit-content;
  flex-wrap: wrap;
}

div#left,
div#center,
div#right {
  display: flex;
  flex-direction: column;
  background-color: #ddddddaa;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 12px 15px #000000aa;
  justify-content: space-between;
  box-sizing: border-box;
}

div#left {
  gap: 25px;
  justify-content: center;
  align-items: center;
}

div#right,
div#center {
  height: 55vh;
  max-width: 44vw;
  min-width: 335px;
  text-wrap: wrap;
}

div#center {
  overflow-y: scroll;
  scrollbar-width: none;
}

.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin: 0;
  font-size: 3em;
}

h2 {
  font-size: 1.7em;
}

img#map {
  height: calc(55vh - 40px);
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  overflow: hidden;
}

ul,
.main-text {
  font-size: 1.5em;
  list-style-type: none;
  margin-top: 0;
  line-height: 1.4em;
}

i {
  cursor: pointer;
  color: black;
  transition: all 0.3s;
}

div#button--facebook {
  cursor: pointer;
}

i:hover {
  color: #cc00cc;
  transform: translate(0px, -5px);
  transform: rotate(-360deg);
}

#map:hover {
  transform: translate(0px, -2px);
}

/* Phone & Tablet */
@media (max-width: 849px) and (orientation: portrait) {
  * {
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHhjeWNzcXc3NnNmZDN2NTF3N2xtZTZ5ZjNnMWRzcW4wNHh3amljbyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Hh9sPYeSWhAUx6NDBM/giphy.webp");
    background-size: cover;
    font-family: sans-serif;
    flex-direction: column;
  }

  div#left,
  div#center,
  div#right {
    width: 100vw;
    border-radius: 0;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    height: inherit;
  }
  div#left {
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1;
  }
  div#center {
    padding: 20px;
  }
  div#right {
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  #map {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

/* Narrower Res */
@media (min-width: 850px) and (max-width: 1300px) {
  main.container {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  div#left {
    position: fixed;
    left: 10vw;
    top: 40vh;
  }

  div#center,
  div#right {
    width: 45vw;
    height: fit-content;
  }
}
